body {font-family:verdana;font-size:13px; }

#header {border-bottom:solid 1px #000; position:fixed; top:0;left:1%; right:1%;
  border-top:solid 20px #c1db83;padding:0;background:#fff; z-index:100;}
#header h1 {padding:20px 0 6px 0;margin:0; font-size:13px; text-align: left;}
#header h2 {font-weight:lighter; font-size:8px; position:absolute; right:1%; top:15px; margin: 0px;}
#header a {color:#000;text-decoration:none;}

#content {padding:70px 1% 1% 1%;}

#search {position:relative;}
#search input[type="text"]{margin-bottom:0.3em;}
#search input[type="submit"]{border:solid 1px #808080; background-color:#808080;color:#fff;}


.list {padding:0; margin:0;}
.list a {display:block;}
.list li {list-style-type:none;padding:0.5em 0; margin:0; border-bottom:solid 1px #000;}

.ui-bar-a {text-shadow: none;}

/* JQuery Autocomplete */
.ui-menu-item {
  list-style-type: none;
}
/* JQuery Autocomplete End */

.drug h2 {border-top:solid 1px #000; padding-top:8px; cursor:pointer;}

.hidden p {display:none}
@media screen and (min-width: 42em){
    /* UX styling for desktop */
    .hidden p {display:block}
    .drug p {width: 800px; padding: 2em 0em;}
    #content {width: 820px;}
    #content .interaction{padding: 0em;}
}
#warning {background:#c55050; color:#fff; text-align:center; padding:5px; position:fixed; bottom:0; left:0; right:0;}
#warning a {color:#fff;}