body {font-family:verdana;font-size:13px; padding-bottom:40px;margin-bottom:0;}

#header {position:fixed; top:0;left:0; right:0;padding:0;background:#c1db83; z-index:100; text-align:center;
  border-bottom:solid 1px #9bbc4d; }
#header h1 {padding:10px 0 6px 0;margin:0; font-size:20px;   text-shadow: 1px 1px 0px #9bbc4d;
}
#header h2 {font-weight:lighter; font-size:8px; position:absolute; right:1%; top:15px; margin: 0px;}
#header a {color:#fff;text-decoration:none;}

#content {padding:60px 1% 100px 1%; text-shadow: 1px 1px 0px #fff;}

#search {position:relative;}
#search input[type="text"]{margin-bottom:0.3em;}
#search input[type="submit"]{border:solid 1px #808080; background-color:#808080;color:#fff;}

.welcome {text-align:center; font-size:2em;}

.list {padding:0; margin:0;}
.list a {display:block;}
.list li {list-style-type:none;padding:0.5em 0; margin:0; border-bottom:solid 1px #000;}

.ui-bar-a {text-shadow: none;}

/* JQuery Autocomplete */
.ui-menu-item {
  list-style-type: none;
}
/* JQuery Autocomplete End */

.drug h2 {border-top:solid 1px #000; padding-top:8px; cursor:pointer;}
.drug {background:#fff;box-shadow: 3px 3px 3px #ddd; border:solid 1px #ddd;
  padding:1em 2em; margin:0 20px;}

.hidden p {display:none}
@media screen and (min-width: 42em){
    /* UX styling for desktop */
    .hidden p {display:block}
    .drug p {width: 700px; padding: 0em;}
    #content {width: 820px;}
    #content .interaction{padding: 0em;}
}
#warning {background:#c55050; color:#fff; text-align:center; padding:5px; position:fixed; bottom:-11px; left:0; right:0;
  text-shadow:none;}
#warning a {color:#fff;}