body {font-family:verdana;font-size:13px; padding-bottom:60px;margin-bottom:0;}

#header {position:fixed; top:0;left:0; right:0;padding:0;border-top:solid 20px #3168be;z-index:100;
   background:#fff; color:#000;border-bottom:none;}
#header h1 {padding:10px 0 6px 0;margin:0; font-size:30px;border-bottom:solid 3px #323232; text-align:left; margin:10px; text-transform:uppercase; font-weight:normal;}

#header a {color:#000;text-decoration:none;}

#content {padding:60px 1% 100px 1%; text-shadow: 1px 1px 0px #fff; background:#fff;}

#search {position:relative;}
#search input[type="text"]{margin-bottom:0.3em;}
#search input[type="submit"]{border:solid 1px #808080; background-color:#808080;color:#fff;}

.welcome {text-align:center; font-size:2em;}

.list {padding:0; margin:0;}
.list a {display:block;}
.list li {list-style-type:none;padding:0.5em 0; margin:0; border-bottom:solid 1px #000;}

.ui-bar-a {text-shadow: none;}

/* JQuery Autocomplete */
.ui-menu-item {
  list-style-type: none;
}
/* JQuery Autocomplete End */

.drug h1 {font-size:50px; font-weight:normal;}
.drug h2 {border-top:solid 2px #323232;  padding-top:8px; cursor:pointer; text-transform:uppercase; font-size:13px;}
.drug {background:#fff;margin:0 8px;}

.hidden p {display:none}
@media screen and (min-width: 42em){
    /* UX styling for desktop */
    .hidden p {display:block}
    .drug p {width: 700px; padding: 0em;}
    #content {width: 820px;}
    #content .interaction{padding: 0em;}
}
#warning {background:#c55050; color:#fff; text-align:center; padding:5px; position:fixed; bottom:-11px; left:0; right:0;text-shadow:none;z-index:2000000001;}
#warning a {color:#fff;}