{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <h1>About Mobile Formulary</h1>
    <p>
        Mobile Formulary was built as an exploratory research project at the <a href="http://nhshackday.com/">NHS Hackday</a> to explore better ways of providing health professionals with access to drug dosage information via their mobile phones whilst they are working on wards.
    </p>
    <p>
        It was built by a group of doctors and developers who gave up their weekend and to try and make the NHS run a bit smoother.
    </p>
    <p>
        Since this is a research project it should <strong>not be used in real medical situations</strong>, <a href="http://www.bnf.org/">BNF.org</a> remains the definitive source, and the copyright of the data remains theirs.
    </p>
    <p>
        The BNF is an an amazing resource, the result of an editorial team for collating, writing and continually reviewing the data.
    </p>
    <h2>Want to get involved?</h2>
    <p>
        The code for this project is available to <a href="https://github.com/nhshackday/mobileformulary">fork on Github</a>. You can find out more by joining the email discussion group <a href="https://groups.google.com/forum/?hl=en&fromgroups#!forum/nhshackday">here</a> or by following
        <a href="twitter.com/nhshackday">@nhshackday</a> on Twitter. We would love feedback from anyone in the medical profession on how best we can collaborate to improve the app.
    </p>
    <h2>Will this become a fully working app?</h2>
    <p>We will be talking to the Royal Pharmaceutical Society of Great Britain to see how we can best collaborate and take forward the things we have learnt.</p>
{% endblock %}

