<!doctype html>
<html>
<head>
    {% block head %}
        <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='images/iphone_icon.png') }}" />
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/iphone_icon.png') }}" />
        <link href="{{ url_for('static', filename='images/startup.png') }}" rel="apple-touch-startup-image" />
        <!-- <script type='text/javascript' src='https://www.google.com/jsapi'></script> -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.js"></script>
        <script src="{{ url_for('static', filename='javascript/bookmark_bubble.js') }}" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='javascript/main.js') }}"></script>

        <script type="text/javascript" src="http://use.typekit.com/yep3evw.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
        <script src="/static/javascript/jqm.autocomplete.min.js"></script>
        <script type="text/javascript">
          $(function() {
                $("#q").autocomplete({
				target: $('#suggestions'),
				source: '/ajaxsearch',
				link: '/result/',
				minLength: 1
			});

            });
	</script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>{% block title %}{% endblock %} | Mobile Formulary</title>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-32190563-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

       </script>
    {% endblock %}
</head>
<body>

<div data-role="page" id="main-page">

	<div data-role="header" id="header">
                <h1>
                    <a href="/">Mobile Formulary</a>
                    <img src="{{ url_for('static', filename='images/logo.png') }}"/>
                </h1>
	</div><!-- /header -->

	<div data-role="content" id="content">
          {% block content %}{% endblock %}
	</div><!-- /content -->
        <div id="footer">
          {% block footer %}{% endblock %}
        </div>

</div><!-- /page -->
<p id="warning">
   This app is a research project only, <a href="/about">click here for more information</a>.
</p>
</body>
