{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
{% include 'searchbox.html' %}
{% if not results and not suggestions%}
<h2>Yikes!</h2>
<p>We don't really know what to do with that...</p>
<p>I guess you're looking in the wrong universe!</p>
{% elif not results%}
<h2>Yikes!</h2>
<p>We couldn't find anything for that - did you mean one of these?</p>
<ul class="list">
  {% for drug in suggestions %}
    {% include 'drugresult.html' %}
  {% endfor %}
</ul>
{% else %}
<ul class="list">
  {% for drug in results %}
    {% include 'drugresult.html' %}
  {% endfor %}
</ul>
{% endif %}
{% endblock %}

